<!-- GET ALL PAGES OF CMS -->

<section id="pages" ng-controller="aPageCtrl as pageCtrl">
    <h2 class="all-pages-title">All Pages</h2>
    <!-- LOADING MESSAGE -->
    <div class="jumbotron load-jumbotron text-center" ng-show="pageCtrl.processing">
        <span class="glyphicon glyphicon-repeat spinner"></span>
        <p>Loading Pages...</p>
    </div>
    <table class="table table-bordered" ng-show="pageCtrl.pages">
        <thead>
        <tr>
            <th class="col-sm-1">_id</th>
            <th>Title</th>
            <th>Url</th>
            <th class="col-sm-2">Manage Pages</th>
        </tr>
        </thead>
        <tbody>
        <!-- LOOP OVER THE PAGES -->
        <tr ng-repeat="page in pageCtrl.pages">
            <td class="col-sm-3">{{ page._id }}</td>
            <td class="col-sm-3">{{ page.title }}</td>
            <td class="col-sm-3">{{ page.url }}</td>
            <td class="col-sm-3 manage-pages">
                <a ng-click="pageCtrl.editPage(page._id)"
                   class="btn btn-primary">Edit</a>
                <a ng-click="pageCtrl.deletePage(page._id)"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-click="dashboard.createPage()" class="new-page-fab col-md-offset-11 col-md-1">
        +
    </div>
</section>