<!-- EDIT SINGLE PAGE OR CREATE NEW ONE -->

<section id="single-page" ng-controller="aPageEditCtrl as page">
    <h2 ng-if="page.type == 'edit';">Edit page
        <span class="page-id">id: {{page.id}}</span>
    </h2>
    <h2 ng-if="page.type == 'create';">Create page</h2>

    <div class="row">
        <div class="page-title col-md-8">
            <span>Page Title: </span>
            <input type="text"
                   ng-model="page.pageData.title">
        </div>
        <div class="page-url col-md-8">
            <span>Page Url: </span>
            <input type="text"
                   ng-model="page.pageData.url">
        </div>
        <div class="col-md-8 page-content">
            <h3>Page Content Header</h3>
        <textarea name="page-content"
                  id="#page-content-header"
                  cols="30"
                  rows="10"
                  style="width: 100%; height: 100%;"
                  ng-model="page.pageData.contentHeader">
        </textarea>
            <h3>Page Content Footer</h3>
        <textarea name="page-content"
                  id="#page-content-footer"
                  cols="30"
                  rows="10"
                  style="width: 100%; height: 100%;"
                  ng-model="page.pageData.contentFooter">
        </textarea>
            <button ng-click="page.savePage()"
                    class="btn btn-success">Save
            </button>
            <div>
                <div class="page-date col-md-8">
                    <span>Page last modification date: </span>
                    <span>{{page.pageData.date}}</span>
                </div>
            </div>
            <div class="row show-hide-message" ng-show="page.message">
                <div>
                    <div class="alert alert-info">
                        {{ page.message }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="page-posts-title">
                <span>Page's posts</span>
                <button ng-click="page.addPost()"
                   class="btn btn-success btn-add-page-post">+</button>
                <div class="add-post-menu" ng-if="page.toggleAddPostMenu">
                    <a data-toggle="modal"
                       data-target="#postsModal"
                       class="btn btn-success add-existing-post">
                        Add existing post</a>
                    <a ng-click="dashboard.createPost()"
                       class="btn btn-success create-new-post">
                        Create new post</a>
                </div>
            </div>
            <div class="page-posts" ng-repeat="post in page.pageData.posts">
                <div class="page-post">
                    <a class="page-post-item">{{post.title}}</a>
                    <button ng-click="page.deletePostFromPage(page.id, post._id)" class="btn btn-danger">X</button>
                </div>
            </div>
        </div>
        <ng-include src="page.allPostsTemplate">
        </ng-include>
</section>