<header class="height-detect">
    <div class="parallax-content" ng-parallax pattern="'assets/img/bg.png'" speed="5">
        <div class="header-content">
            <h1 class="header-title">MEAN STACK CMS</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut fugit harum ipsam
            iure libero, quas quisquam suscipit! Accusantium asperiores at culpa dolorem, doloribus excepturi in itaque
            iure, magnam mollitia nisi optio quaerat quas rerum similique! Blanditiis harum in neque nulla officia
            perferendis quae quidem, quod tenetur veritatis. Inventore, repellendus?
        </div>
        <div class="col-md-4">Autem consequuntur corporis dolorem, eos facilis fugiat labore laboriosam maiores nam
            neque nobis, perspiciatis possimus repellat rerum sed veritatis voluptatem? Architecto autem doloribus
            exercitationem iure magnam magni quos rerum tempore, totam vitae. Ad at doloremque dolores, doloribus, eius
            est impedit in itaque iusto nam nostrum obcaecati officia quae, quidem ullam!
        </div>
        <div class="col-md-4">Amet aperiam architecto assumenda blanditiis corporis cum debitis delectus dolorem dolorum
            et exercitationem facere fugiat inventore ipsum, iste iusto laboriosam libero maxime nam natus pariatur,
            quia quidem quis, rem sequi sint totam ullam vel voluptas voluptatum. A ab autem, cupiditate deserunt eum
            iste laboriosam nesciunt omnis porro sed sint ut?
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae consequatur
            deserunt eius error, eum ipsam laborum minus nisi nostrum quisquam reprehenderit sed similique, suscipit
            tempore unde voluptas! Autem maxime officiis provident sequi. Accusamus facilis modi obcaecati repellendus
            velit veniam! Commodi est illum impedit in laboriosam maiores quasi qui voluptatem?
        </div>
        <div class="col-md-4">Ea necessitatibus nihil officia quibusdam! Ab alias aliquid animi asperiores commodi
            corporis debitis dolor eos est facere fugiat fugit incidunt ipsum laborum magnam, maxime minima nihil nulla
            quidem sit totam, veniam, voluptas? Dignissimos magni nulla quidem sit totam unde vel. Cumque fugiat,
            maxime. Cum fuga nulla odio quo ratione sint.
        </div>
        <div class="col-md-4">Alias aspernatur aut consequatur distinctio maiores nesciunt quam quos sit velit
            veritatis! Architecto atque dicta, molestiae officia repellendus suscipit vitae? Autem blanditiis eos esse
            fuga ipsa ipsam laborum optio, rem repudiandae vitae. At, aut debitis delectus, doloribus error facere
            inventore iure iusto nostrum omnis quia, repellendus rerum sunt suscipit tenetur.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur
            excepturi, facere hic non quibusdam saepe suscipit voluptates! Laudantium nihil pariatur repellendus
            tempora. Adipisci blanditiis consequatur dolores error, fuga id ipsa ipsam laboriosam nisi non, officia
            officiis provident quibusdam quidem quisquam repellat tempora vel? Architecto cupiditate deserunt dolore
            natus ut.
        </div>
        <div class="col-md-4">Consequatur, incidunt minima porro quam ratione tenetur voluptates? Ab accusamus aliquam
            amet animi architecto asperiores blanditiis delectus doloribus ducimus eaque eos, est eveniet expedita
            facilis fuga impedit in ipsam labore maiores minus modi molestiae odio pariatur porro qui quibusdam
            recusandae reiciendis rerum saepe suscipit temporibus ut, voluptate voluptatibus. Quasi, quibusdam.
        </div>
        <div class="col-md-4">Aperiam blanditiis cupiditate minima obcaecati similique? Ad, architecto, blanditiis eos
            explicabo facere iste minima minus non placeat, provident repudiandae sequi suscipit voluptatem? Cum facere
            in ipsum non odio officia quas qui, tempora vero voluptatum. Aperiam, culpa dolores eius impedit labore
            maiores quos sapiente voluptate. Commodi debitis doloribus quo reprehenderit vero!
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda culpa
            dolorem exercitationem in ipsa iusto magni, nemo odio similique sit temporibus, voluptates. Eaque magnam
            maiores quasi sapiente. Assumenda doloremque eos est ex exercitationem facere fugiat hic itaque laborum
            minima mollitia nisi praesentium, quaerat quia rem saepe soluta vel voluptas!
        </div>
        <div class="col-md-4">Dolorem, inventore, necessitatibus? A aperiam assumenda corporis dolores doloribus
            eligendi enim et expedita impedit in libero, minima molestiae molestias nesciunt nisi officiis placeat
            praesentium quas qui quisquam quo repellat reprehenderit sint suscipit ut. Animi deserunt dolor excepturi id
            laboriosam magnam nemo perferendis, placeat, provident quas quidem quod repellat, repudiandae vel.
        </div>
        <div class="col-md-4">A accusantium animi eos ex fugiat hic impedit, in incidunt maxime officia pariatur
            perferendis praesentium quisquam, reprehenderit repudiandae? Alias atque consequatur cupiditate dolore
            ducimus eius enim eveniet ex facere ipsam laborum, nemo placeat quibusdam recusandae soluta tenetur totam
            ut! Nemo rem rerum voluptate voluptatum? Doloremque eaque excepturi obcaecati recusandae voluptatibus.
        </div>
    </div>
</div>
