<!-- GET ALL POSTS OF SPECIFIC PAGE -->

<div id="postsModal" class="modal" fade role="dialog">
    <div class="modal-dialog">
        <div class="modal-content page-posts-container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose existing post</h4>
            </div>
            <div class="modal-body">
                <div class="all-posts-modal"
                     ng-if="page.allPosts"
                     ng-repeat='post in page.allPosts'>
                    <div class="page-posts">
                        <a class="page-posts-title">{{post.title}}</a>
                        <button class='btn btn-success' ng-click='page.addThisPost(post._id)'>+</button>
                    </div>
                </div>
                <div class="all-posts-modal"
                     ng-if="!page.allPosts">
                    <h2>No posts available</h2>
                </div>
            </div>
            <div class=modal-footer>
                <button type="button" class="btn btn-success" data-dismiss=modal>Close</button>
            </div>
        </div>
    </div>
</div>
