@font-face {
  font-family: Frutiger;
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/bast/bast.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/bast/bast.woff2") format("woff2"), url("../../assets/fonts/bast/bast.woff") format("woff"), url("../../assets/fonts/bast/bast.ttf") format("truetype"), url("../../assets/fonts/bast/bast.svg#Frutiger") format("svg"); }
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-size: 100px;
    background: #fff url("../../assets/img/preloader.gif") no-repeat center center;
    height: 128px;
    width: 128px;
    margin-top: -64px;
    margin-left: -64px;
    left: 50%;
    top: 50%;
    position: absolute; }

* {
  font-family: Frutiger;
  font-weight: 400 !important; }
  * .jumbotron,
  * .btn {
    border-radius: 0px !important; }

body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }
  body a {
    cursor: pointer !important; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.btn-primary {
  background-color: #4e285e; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #672c78; }

.ng-view-template {
  height: 100%; }

section#public-home,
section#public-home header {
  height: 100%; }

/**
 *Dashboard
 */
.accordion-toggle:focus,
.accordion-toggle:active {
  outline: none;
  color: #ff904e; }

#dashboard-container .row {
  height: 100%; }
#dashboard-container a {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }
#dashboard-container a:active, #dashboard-container a:hover, #dashboard-container a:visited, #dashboard-container a:focus,
#dashboard-container span:hover,
#dashboard-container span:active,
#dashboard-container span:focus {
  color: #ff904e; }

.dshb-menu {
  border-right: 2px solid #aaa;
  padding-right: 0px;
  background-color: #4e285e;
  height: 100%; }
  .dshb-menu span {
    color: #fff; }

.panel-body {
  border-top: 0px !important; }

.panel-group .panel + .panel {
  border: none; }

.panel-group .panel {
  background-color: #3F2550; }

.panel-default,
.panel-default > .panel-heading {
  background-color: #352245;
  border-color: transparent;
  border-radius: 0px !important; }

.dshb-menu-item, .dshd-menu-child-item {
  text-align: justify; }

.dshd-menu-child-item {
  margin-bottom: 10px; }

header .parallax-content {
  opacity: 0.8;
  background-size: cover !important; }

header .header-content {
  text-align: center;
  position: relative;
  top: 30%;
  width: 50%;
  font-size: 30px;
  margin: auto;
  color: #fff;
  border: solid 8px #ffffff; }
  header .header-content .header-title {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px; }

.navbar {
  background-color: #4e285e;
  border-radius: 0px;
  height: 70px;
  border-bottom: 2px solid #aaa;
  margin-bottom: 0px; }
  .navbar .navbar-to-site {
    color: #fff;
    height: 50px;
    padding-top: 15px;
    line-height: 20px;
    text-decoration: none;
    float: left;
    font-size: 18px;
    padding-bottom: 15px; }
    .navbar .navbar-to-site:hover {
      color: #ff904e; }
    .navbar .navbar-to-site .site-title {
      color: #ff904e; }
  .navbar .nav-logo {
    margin-right: 10px;
    color: #ff904e;
    font-size: 20px; }
  .navbar .navbar-user-photo-reference {
    border-radius: 50%;
    margin-top: -17px; }
    .navbar .navbar-user-photo-reference .navbar-user-photo {
      margin-right: 0px;
      border-radius: 50%;
      width: 50px;
      height: 50px; }
  .navbar a.navbar-brand {
    cursor: pointer;
    color: #fff; }
  .navbar a.navbar-brand:hover, .navbar a.navbar-brand:focus, .navbar a.navbar-brand:active,
  .navbar a.users-button:hover, .navbar a.users-button:active, .navbar a.users-button:focus {
    background-color: transparent;
    color: #ff904e; }
  .navbar a.users-button {
    padding-top: 12px;
    font-size: 18px;
    color: #fff;
    background-color: transparent; }
  .navbar .navbar-right {
    padding-top: 7px; }
    .navbar .navbar-right a {
      color: #fff; }
    .navbar .navbar-right a:hover, .navbar .navbar-right a:active, .navbar .navbar-right a:focus {
      color: #ff904e;
      background-color: transparent; }
  .navbar .user-hello {
    color: #fff; }
  .navbar .logout-button {
    margin-right: 20px; }

.navbar-left {
  line-height: 70px; }
  .navbar-left a {
    height: 70px;
    line-height: 48px;
    color: #fff;
    font-size: 18px; }
    .navbar-left a:hover, .navbar-left a:active {
      color: #ff904e;
      text-decoration: none; }
  .navbar-left .link {
    cursor: pointer;
    padding-left: 10px;
    height: 66px;
    padding-right: 10px;
    background-color: transparent; }
    .navbar-left .link:hover {
      background-color: #562085; }

#admin-panel-container {
  max-height: 40px; }

.admin-panel {
  padding-top: 6px;
  font-size: 16px;
  height: 40px;
  background-color: #aaa;
  border: none; }
  .admin-panel .container {
    padding-top: 0px; }
  .admin-panel .admin-panel-logo {
    padding-right: 10px;
    font-size: 24px; }

section#login {
  height: 100%; }
  section#login .jumbotron {
    margin-top: 120px; }

#login, #signup {
  background-color: #222; }
  #login .jumbotron, #signup .jumbotron {
    padding-left: 20px;
    padding-right: 20px;
    position: relative; }
    #login .jumbotron .col-md-6:nth-of-type(1), #signup .jumbotron .col-md-6:nth-of-type(1) {
      padding-left: 0px; }
    #login .jumbotron .col-md-6:nth-of-type(2), #signup .jumbotron .col-md-6:nth-of-type(2) {
      padding-right: 0px; }
    #login .jumbotron h1, #signup .jumbotron h1 {
      text-align: center;
      margin-bottom: 30px; }
    #login .jumbotron button, #signup .jumbotron button {
      display: block;
      margin: auto;
      width: 50%; }
    #login .jumbotron .to-signup, #signup .jumbotron .to-signup {
      position: absolute;
      margin-top: 20px;
      bottom: 5px; }
    #login .jumbotron .login-facebook, #signup .jumbotron .login-facebook {
      font-size: 20px; }

section#all-users {
  background: url("../../assets/img/section-bg.jpg") no-repeat center center;
  color: #fff !important; }
  section#all-users .users-load {
    background-color: #9838AC;
    opacity: 0.5;
    height: 60%; }
    section#all-users .users-load p, section#all-users .users-load span {
      margin-top: 4%; }
  section#all-users .btn-new-user {
    margin-left: 20px;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    border-radius: 0px; }
  section#all-users .btn-new-user:hover,
  section#all-users .btn-new-user:active {
    background-color: #161616;
    border-color: #161616; }
  section#all-users .glyphicon-plus {
    font-size: 14px;
    font-weight: 100; }
  section#all-users a {
    color: #a9fffd; }
  section#all-users table, section#all-users td, section#all-users th, section#all-users thead, section#all-users tr {
    border: none; }
  section#all-users tr {
    background-color: transparent; }
  section#all-users .page-header {
    border: none;
    padding-top: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px; }
  section#all-users h1 {
    margin-left: 10px; }
  section#all-users a {
    cursor: pointer; }
  section#all-users .col-sm-2 {
    text-align: center; }
    section#all-users .col-sm-2 a {
      margin-right: 10px; }

section#single-user {
  color: #fff !important;
  background: url("../../assets/img/section-bg.jpg") no-repeat center center; }
  section#single-user .page-header {
    border: none;
    padding-top: 50px;
    margin-top: 0px;
    margin-bottom: 0px; }
    section#single-user .page-header h1 {
      margin-left: 30px; }
  section#single-user .thumbnail {
    width: 212px;
    margin: auto; }
  section#single-user img {
    width: 200px;
    min-height: 200px;
    height: auto; }
  section#single-user .input-group {
    margin: auto;
    margin-top: 10px;
    width: 200px; }
    section#single-user .input-group label {
      width: 200px; }
    section#single-user .input-group span {
      margin-right: 10px; }

section#donation {
  background-color: #222;
  padding-top: 20%; }
  section#donation .donation-form {
    width: 450px;
    margin: auto; }
    section#donation .donation-form iframe {
      position: relative; }

section#image-section {
  background: url("../../assets/img/section-bg.jpg") no-repeat center center; }
  section#image-section img {
    width: 100%;
    height: auto; }

.dashboard-content {
  padding-right: 45px;
  height: 100%; }

section#pages .new-page-fab {
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: #4e285e;
  font-size: 30px;
  color: #fff;
  border-radius: 50%; }
  section#pages .new-page-fab:hover {
    background-color: #6a317b; }
section#pages .manage-pages {
  text-align: center; }
  section#pages .manage-pages a {
    margin-left: 20px; }

section#dashboard-home {
  text-align: center; }
  section#dashboard-home img {
    margin-top: 10%; }

section#single-page .row {
  margin-top: 40px; }
section#single-page h2 {
  position: relative; }
  section#single-page h2 .page-id {
    color: #fc99a1;
    font-size: 16px;
    position: absolute;
    right: 0px; }
section#single-page .page-title,
section#single-page .page-url {
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 14px;
  margin-bottom: 30px; }
  section#single-page .page-title span,
  section#single-page .page-url span {
    color: #000 !important; }
    section#single-page .page-title spanactive,
    section#single-page .page-url spanactive {
      color: #000 !important; }
  section#single-page .page-title input,
  section#single-page .page-url input {
    padding-left: 10px;
    position: absolute;
    right: 0px;
    width: 70%;
    margin-left: 30px; }
section#single-page .page-content {
  padding-right: 0px; }
section#single-page .page-posts-title {
  padding-left: 30px;
  margin-bottom: 20px;
  color: #4e285e;
  text-align: justify;
  font-size: 24px;
  margin-top: 0px;
  position: relative; }
  section#single-page .page-posts-title span {
    cursor: default; }
    section#single-page .page-posts-title span:hover {
      color: #000; }
  section#single-page .page-posts-title button {
    position: absolute;
    right: 20px; }
section#single-page .page-post-item {
  color: #4e285e;
  font-size: 16px; }
  section#single-page .page-post-item span {
    cursor: default; }
    section#single-page .page-post-item span:hover {
      color: #000; }
  section#single-page .page-post-item a:hover {
    color: #fff; }
  section#single-page .page-post-item .btn {
    position: absolute;
    right: 20px; }
section#single-page .page-posts {
  padding-left: 30px;
  font-size: 20px;
  text-align: justify;
  position: relative; }
  section#single-page .page-posts .page-post {
    margin-bottom: 20px; }
  section#single-page .page-posts .btn {
    position: absolute;
    right: 20px; }
section#single-page .add-post-menu {
  text-align: right;
  padding-right: 20px;
  margin-right: 0px; }
section#single-page a.add-existing-post,
section#single-page a.create-new-post {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  width: 150px; }
  section#single-page a.add-existing-post:hover,
  section#single-page a.create-new-post:hover {
    color: #4e285e; }
section#single-page .page-date {
  padding-top: 20px;
  padding-left: 0px; }
  section#single-page .page-date span {
    color: #000;
    cursor: default; }
    section#single-page .page-date span:hover {
      color: #000; }

section#all-posts div.new-post-fab {
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: #4e285e;
  font-size: 30px;
  color: #fff;
  border-radius: 50%; }
  section#all-posts div.new-post-fab:hover {
    background-color: #6a317b; }
section#all-posts .manage-posts {
  text-align: center; }
  section#all-posts .manage-posts a {
    margin-left: 20px; }

#page-content {
  width: 60%; }

section#single-post .row {
  margin-top: 40px; }
section#single-post .post-title {
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 20px;
  margin-bottom: 30px; }
  section#single-post .post-title span {
    color: #000 !important; }
    section#single-post .post-title spanactive {
      color: #000 !important; }
  section#single-post .post-title input {
    position: absolute;
    right: 0px;
    width: 70%;
    margin-left: 30px; }
section#single-post .post-content {
  padding-right: 0px; }
section#single-post .all-posts-modal .page-posts {
  margin: auto;
  width: 60%;
  line-height: 10; }

/*# sourceMappingURL=main.css.map */
