<!-- USER ACCOUNT VIEW -->

<section id="account">

    <div class="row">
        <div class="col-md-8">
            <ul>
                <li class="account-item">{{user.firstName}}</li>
                <li class="account-item">{{user.secondName}}</li>
                <li class="account-item">{{user.role}}</li>
                <li class="account-item">{{user.email}}</li>
                <li class="account-item">{{user.password}}</li>
                <li class="account-item">{{user.username}}</li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="user-photo">
                <div class="thumbnail">
                    <img src="some_src" alt="users image">
                </div>
            </div>
        </div>
    </div>

</section>