<nav class="navbar user-navbar" ng-controller="aDashboardCtrl as dashboard">
    <!-- admin dashboard navbar-->
    <div class="navbar-header">
        <a ng-click="dashboard.toDashboard()"
           class="navbar-brand">
            <span class="fa nav-logo fa-code text-danger"></span>Dashboard
        </a>
        <a ng-click="dashboard.toSiteHome()"
           class="navbar-to-site">Go to
            <span class="site-title">{{dashboard.siteSettings.title}}</span>
        </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="user-hello navbar-text">Hello {{dashboard.userData.name}} !
        </li>
        <li>
            <a ng-href="/account"
               class="navbar-user-photo-reference">
                <img class="navbar-user-photo"
                     ng-src="{{dashboard.userData.photo}}"
                     alt="User Photo">
            </a>
        </li>
        <li>
            <a class="logout-button"
               ng-click="dashboard.doLogout()">Log Out
            </a>
        </li>
    </ul>
</nav>