<section id="pages" ng-controller="pageController as pageCtrl">
        <h2 class="all-pages-title">All Pages</h2>
        <table class="table table-bordered table-striped" ng-show="pageCtrl.pages">
            <thead>
            <tr>
                <th class="col-sm-1">_id</th>
                <th>Title</th>
                <th>Url</th>
                <th class="col-sm-2"></th>
            </tr>
            </thead>
            <tbody>
            <!-- LOOP OVER THE PAGES -->
            <tr ng-repeat="page in pageCtrl.pages">
                <td class="col-sm-3">{{ page._id }}</td>
                <td class="col-sm-3">{{ page.title }}</td>
                <td class="col-sm-3">{{ page.url }}</td>
                <td class="col-sm-3">
                    <a  ng-click="pageCtrl.editPage(page._id)" class="btn btn-primary">Edit</a>
                    <a  href="#" ng-click="pageCtrl.deletePage(page._id)" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    <div class="new-page-fab col-md-offset-11 col-md-1">
        +
    </div>
</section>